* {
    /* outline: 1px dotted red; */
}

.sticky {
    position: sticky;
    top: 0;
    background-color: #374558;
}

.products-table > * {
    color: white;
}

.products-table {
    background-color: #374558;
    /* padding: 0 3rem 0 3rem; */
    border-radius: 3rem;
    max-height: 60dvh;
    overflow-y: scroll;
}

.table-navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-bar, .pagination {
    margin: 1rem 0;
}

.search-bar {
    background-color: white;
    border-radius: 3rem;
    position: relative;
    @media (max-width: 430px) {
        width: 100%;
    }

}

.search-bar-input {
    outline: none;
    border: none;
    padding: 1rem 2rem;
    border-radius: 3rem;
    
}

.search-button {
    background-color: white;
    outline: none;
    border: none;
    border-left: 1px solid #6d8db8;
    padding: 1rem 2rem 1rem 1.6rem;
    border-radius: 0 3rem 3rem 0;
    @media (max-width: 430px) {
        right: 0;
        position: absolute;
    }
}

table {
    min-width: 100%;
    border-collapse: collapse;
    border-radius: 0 0 3rem 3rem;
}

table thead th {
    padding: 3rem 2rem 2rem 2rem;
    text-align: left;
}

table tbody tr td{
    padding: 1.5rem 2rem;
}

.table-row:nth-child(odd) {
    background-color: #58708f;
}

.table-row:nth-child(even) {
    background-color: #3c4e66;
}

.last-row {
    border-radius: 0 0 3rem 3rem;
}

.first-td-last-row {
    border-radius: 0 0 0 3rem;
}

.last-td-last-row {
    border-radius: 0 0 3rem 0;
}